* {
	margin: 0;
	padding: 0;
}
#container {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}
#debugCanvas {
  position: absolute;
  z-index: 990;
  opacity: 0.5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  background: #3498db;
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: -1rem;
  margin-top: 10%;
  width: 60%;
}
.active{
	background: #0BBD4C;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

#menu-back{
  z-index: 995;
  position: absolute;
  background-color: black;
  opacity: 0.5;
  width: 15%;
  height: 100%;
}
#menu{
  z-index: 999;
  position: absolute;
  width: 15%;
  height: 100%;
}
.list{
  width: 100%;
  height: 20%;
  list-style: none;
  vertical-align: middle;
  text-align: center;
}
.min{
  display: none;
}

@media screen and (max-width: 1200px) {
  #menu-back{
    width: 100%;
    height: 15%;
  }
  #menu{
    width: 100%;
    height: 15%;
  }
  .list{
    width: 20%;
    height: 100%;
    float: left;
  }
  button {
    padding: 5px;
  }
  .min{
    display: block;
  }
  .max{
    display: none;
  }
}
